* {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --gold: hsl(49, 100%, 63%);
}

body {
  background-color: var(--off-black);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 22vw;
  background-color: var(--dark-grey);
  border-radius: 1rem;
}

.container img {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
}

.container h1 {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  margin-top: 1.5rem;
}

.container h2 {
  color: var(--gold);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0;
  margin-top: 0.7rem;
}

.container h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 0.8rem;
  margin: 2rem 0 1rem 0;
}

.container .social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 44%;
  width: 80%;
}

.container .social-media div {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--grey);
  padding: 4%;
  border-radius: 7px;
  transition: 0.3s;
}

.container .social-media div:hover {
  background-color: var(--gold);
  color: var(--off-black);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    width: 85vw;
    height: 60vh;
  }
}

@media screen and (max-height: 768px) {
  .container {
    height: 70vh;
  }
}
